.flex-icon {
    display: flex;
    justify-content: end;
    align-items: center;
}

.gap-nav {
    gap: 10px 0;
}

.gap-item {
    gap: 20px 0;
}

.footer {
    padding: 30px 0;
    text-align: center;
}